.icon{ display:inline-block; background-image: url('./icon.png'); background-size:2120px 500px; }
.icon-cup2 { width: 500px; height: 500px; background-position: 0px 0px; }
.icon-cup3 { width: 500px; height: 500px; background-position: 540px 0px; }
.icon-cup4 { width: 500px; height: 500px; background-position: 1080px 0px; }
.icon-cup5 { width: 500px; height: 500px; background-position: 1620px 0px; }