.icon{ display:inline-block; background-image: url('./icon.png'); background-size:1204px 662px; }
.icon-dog_00000 { width: 600px; height: 458px; background-position: 0px 0px; }
.icon-dog_00001 { width: 600px; height: 458px; background-position: 604px 0px; }
.icon-logo { width: 200px; height: 200px; background-position: 0px 462px; }